body,
html {
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, yellow 50%, green 50%);
}

.top-time {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.top-time h2 {
  color: black;
}

h1 {
  color: black;
  font-size: 2.5rem;
}

.top-time .countdown {
  font-size: 20px;
  color: #555;
}

.locations {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.split {
  display: flex;
  margin: 0 10px;
  width: 50%;
  justify-content: center;
}

.centered {
  flex-direction: column;
}
